In [5]:
# pip show pandas

In [9]:
import pandas as pd 
x=pd.Series([10,20,30,40,50])  
print(x)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [11]:
import pandas as pd  
x=pd.Series([10,20,30,40,50],index=['a','b','c','d','e']) 
print(x)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [15]:
import pandas as pd  
marks={'Ram':80,'Kasim':90,'Faizal':85,'Tamil':95,'Sai':92} 
result=pd.Series(marks) 
print(result)  
print('Display a single data in series') 
print(result['Ram'])  
print('Display a set of data in series')  
print(result['Kasim':'Tamil'])

Ram       80
Kasim     90
Faizal    85
Tamil     95
Sai       92
dtype: int64
Display a single data in series
80
Display a set of data in series
Kasim     90
Faizal    85
Tamil     95
dtype: int64

In [17]:
 import pandas as pd  
data={"Roll No": [100, 101, 102], 
"Percentage":[95,80,75]}  
df=pd.DataFrame(data)  
print(df)

   Roll No  Percentage
0      100          95
1      101          80
2      102          75

In [23]:
import pandas as pd  
data={"Roll No":[100, 101, 102],"Percentage":[95,80,75]} 
df=pd.DataFrame(data)
print(df.loc[1])

Roll No       101
Percentage     80
Name: 1, dtype: int64

In [29]:
import pandas as pd 
data={"Roll No":[100, 101,102], "Percentage":[95,80,75]} 
df=pd.DataFrame(data,index=["AAA", "BBB", "CCC"])  
print(df)  
print('Locate a named index') 
print(df.loc['BBB'])

     Roll No  Percentage
AAA      100          95
BBB      101          80
CCC      102          75
Locate a named index
Roll No       101
Percentage     80
Name: BBB, dtype: int64

In [33]:
import pandas as pd  
import numpy as np  
dict = {'First Score':[100, 90, np.nan, 95],'Second Score':[30,45,56,np.nan],  
'Third Score':[np.nan, 40, 80, 98]}  
df=pd.DataFrame(dict) 
df.dropna()

   First Score  Second Score  Third Score
1         90.0          45.0         40.0

In [35]:
import pandas as pd  
import numpy as np  
s=pd.Series(['X','Y','Z','Aaba','Baca',np.nan,'CABA',None,'bird','horse','dog'])  
print("Originalseries:") 
print(s)  
print("\n Convert all string values to uppercase:")  
print(s.str.upper()) 
print("\n Convertall string values to lowercase:")  
print(s.str.lower()) 
print("\nLength of the string values:")  
print(s.str.len())

Originalseries:
0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object

 Convert all string values to uppercase:
0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object

 Convertall string values to lowercase:
0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object

Length of the string values:
0     1.0
1     1.0
2     1.0
3     4.0
4     4.0
5     NaN
6     4.0
7     NaN
8     4.0
9     5.0
10    3.0
dtype: float64

In [41]:
import pandas as pd 
color1=pd.Index(['Green','Black','Red','White','Pink'])  
print("Original series:") 
print(color1)  
print("\n Remove whitespace")  
print(color1.str.strip()) 
print("\n Remove left sided whites pace")  
print(color1.str.lstrip()) 
print("\n Remove Right sided whitespace")  
print(color1.str.rstrip())

Original series:
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

 Remove whitespace
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

 Remove left sided whites pace
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

 Remove Right sided whitespace
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

In [51]:

import pandas as pd  
student_data1=pd.DataFrame({  
'student_id':['S1','S2','S3','S4','S5'], 
'name':['AAA','BBB','CCC','DDD','EEE'],'marks':[200, 210, 190, 222, 199]}) 
s6=pd.Series(['S6','FFF',205],  
index=['student_id','name','marks'])  
print("Original Data Frames:") 
print(student_data1)  
print("\n New Row(s)") 
print(s6)  
combined_data = pd.concat([student_data1, s6], ignore_index=True)
print("\n Combined data:") 
print(combined_data)

Original Data Frames:
  student_id name  marks
0         S1  AAA    200
1         S2  BBB    210
2         S3  CCC    190
3         S4  DDD    222
4         S5  EEE    199

 New Row(s)
student_id     S6
name          FFF
marks         205
dtype: object

 Combined data:
  student_id name  marks    0
0         S1  AAA  200.0  NaN
1         S2  BBB  210.0  NaN
2         S3  CCC  190.0  NaN
3         S4  DDD  222.0  NaN
4         S5  EEE  199.0  NaN
5        NaN  NaN    NaN   S6
6        NaN  NaN    NaN  FFF
7        NaN  NaN    NaN  205